<html  ng-app="store" ng-view>

<head>

  <title>OHRHA | A BURNING HOUSE</title>

  <meta name="theme-color" content="#000" />
  <meta name="DESCRIPTION"
    content="Your Modern Web. A web application is the way the modern web user interacts with web content. Get in touch and build your own! ">
    <base href="/">

  <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />

  <!-- Compiled and minified CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    crossorigin="anonymous" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN">
  <link href="./css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />

  <!-- JavaScript Dependencies -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js" integrity="sha256-oI+elz+sIm+jpn8F/qEspKoKveTc5uKeFHNNVexe6d8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="/js/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  <script src="/js/angular-chart.js"></script>
  <script src="/js/app.js" type="text/javascript"></script>
  <script src="/js/routes.js" type="text/javascript"></script>

  <!-- JavaScript Dependencies -->

</head>


<body class="background" >


 
<div class = "container">

  <div class = "col s12 center-align">

    <a ng-if="flameOn"href = "#" ng-click="openHomePage()" style="font-size:40px;">JFLSJDLKFJDF</a>

  </div>
</div>
       
      <!-- DESKTOP SITE-->


</body>

</html>

