
<div class= "row background animated fadeIn" > 

  
  <div class = "col s12" style="border:2px solid white;"></div>
  <div class ="col s12"  >

    <img  class="animated fadeIn img-responsive" src="./images/sbanner2.svg">

    <!--<img src="./images/rayz.svg">-->
    <div class ="col s4">

    </div>
    <div class ="col s4 center-align" >
      <a href="#storage"><img  class=" img-responsive animated pulse infinite" src="./images/nextsection.svg"></a>
    </div>
    <div class ="col s4">
      
    </div>
    <div class = "row"></div>
    <div class = "col s12" style="border:2px solid white;"></div>
      <div class = "col s12 center-align">
        <br>
          <h1 class = "montserrat center-align ">Welcome To Shine Designs!?</h1>
          <p class="flow-text black-text montserrat" style='font-size:28px;'>
            In these modern times, you need your website to do more than just display static information. 
            It can be the engine that powers your business, whether small-scale, enterprise, or unicorn!
            Turn your website into an application that can rival, and even surpass a regular mobile application.
          
              </p>
      </div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <!--<div class = "col s12" style="border:2px solid white;"></div>
      <div class = "col s12 center-align">
        <br>
          <h1 class = "montserrat center-align ">Why A Web Application?</h1>
          <p class="flow-text black-text montserrat" style='font-size:28px;'>
            In these modern times, you need your website to do more than just display static information. 
            It can be the engine that powers your business, whether small-scale, enterprise, or unicorn!
            Turn your website into an application that can rival, and even surpass a regular mobile application.
          
              </p>
      </div>-->
      <div  class="section scrollspy "id="storage">
      <div class = "row" >
     <div class = "col s6 center-align ">
     
       
       <a href="/themes"><img  class="img-responsive animated " src='./images/designgrid2.svg' /></a>
      </div>
      <div class = "col s6 center-align">
          <h2 class = "montserrat center-align">Design Your World!</h1>
          <div class = "col s12" style="border:1px solid white;"></div>
          <p class="flow-text black-text montserrat" style='font-size:28px;'>
             
              Let's work together to bring your vision to your clientel. From conception to inception!
            
                </p>
                <div class = "col s8 right-align">
                  <a href="/themes">  <p class=" montserrat flow-text" style="position:relative; top:-2rem;font-size:30px;"> More Details</p></a>
                </div>
                <div class = "col s4 left-align">
                  <a href="/themes">  <img class="img-responsive animated "src="./images/moredetails.svg"></a>
                </div>
          </div>
      </div>
          <div class = "row">
          <div class = "col s6 center-align ">
     
       
              <a href="/serverprices"><img  class="img-responsive animated " src='./images/power.svg' /></a>
             </div>
             <div class = "col s6 center-align">
                 <h2 class = "montserrat center-align">Power Your Vision!</h2>
                 <div class = "col s12" style="border:1px solid white;"></div>
                 <p class="flow-text black-text montserrat" style='font-size:28px;'>
                 
                     The server is the heart and core of your online world. We'll help you select and configure a rig
                     that'll handle any load you throw at it.
                    
                       </p>
                       <div class = "col s8 right-align">
                        <a href="/serverprices">  <p class=" montserrat flow-text" style="position:relative; top:-2.5rem;font-size:30px;"> More Details</p></a>
                      </div>
                      <div class = "col s4 left-align">
                        <a href="/serverprices"> <img class="img-responsive animated "src="./images/moredetails.svg"></a>
                      </div>
                 </div>
          </div>
          <div class = "row">
                 <div class = "col s6 center-align ">
     
       
                    <a href="/storageprices"><img  class="img-responsive animated " src='./images/datastore.svg' /></a>
                   </div>
                   <div class = "col s6 center-align">
                       <h2 class = "montserrat center-align">Protect Your Data!</h2>
                       <div class = "col s12" style="border:1px solid white;"></div>
                       <p class="flow-text black-text montserrat" style='font-size:28px;'>
                           Your clientel's personal data is important, and very valuable; both to yourself and bad actors. 
                           We'll secure your data high up in the cloud, where bad actors can't get to it.
                        
                             </p>
                             <div class = "col s8 right-align">
                              <a href="/storageprices">  <p class=" montserrat flow-text" style="position:relative; top:-2rem;font-size:30px;"> More Details</p></a>
                            </div>
                            <div class = "col s4 left-align">
                              <a href="/storageprices"> <img class="img-responsive animated "src="./images/moredetails.svg"></a>
                            </div>
                       </div>
          </div>

  </div>
 </div>
  
  <div class= "col s12 center-align" style="border:1px solid #ddd;" >
      <h3 class = "montserrat">Shine Designs</h3>

      <p class="flow-text black-text montserrat" style='font-size:28px;'>
          In these modern times, you need your website to do more than just display static information. 
          It can be the engine that powers your business, whether small-scale, enterprise, or unicorn!
          Turn your website into an application that can rival, and even surpass a regular mobile application.
        
            </p>
    </div>
  <!--<div class = "row">
    
    <div class = "col s12" id="overlay"
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
     
      <div class = "row"></div>
      <div class = "row"></div>
      
      <div class = "row"></div>
      <div class = "row"></div>
      
      <div class = "row"></div>
      
      
      <div class = "col s6 center-align animated slideInLeft">    
        <div class = "row"></div>  
        <div class = "row"></div>  
        <div class = "row"></div>  
        <div class = "row"></div>  
        <div class = "row"></div>     
        <img ng-click="makeBig()"style="z-index:1000; top:150px; right:20px;" class="thirdbig animated pulse infinite"src='./images/buttonselectedo.svg'> 
      </div>
    
               
     
      <div class = "col s6 right-align animated slideInRiht">     
          <div class = "row"></div>  
          <div class = "row"></div>  
          <div class = "row"></div>  
          <div class = "row"></div>  
          <div class = "row"></div>  
          
           
          <img style="z-index:1000; top:150px; right:100px;" ng-click="makeBig()" class="thirdbig animated pulse infinite"src='./images/mouse.svg'> 
         <!--  <img ng-click="makeBig()" ng-class="{'thirdnormal':thirdNormal, 'thirdbig':thirdBig}" src='./images/buttonselectedo.svg' />-->
     <!-- </div>

      <div class = "col s12 center-align animated slideInDown">  

          <img   ng-click="makeBig()" class = "animated  " src='./images/themeredsmll.svg' style="position:absolute; top:-280px;  right:130px;" />
          <img ng-show="thirdBig" style="position:absolute; top:-220px;right:298px;" ng-click="makeBig()" class = "animated fadeIn img-responsive" src='./images/reactnativeicon.svg' />

        </div>
        <!--
        <div class = "col s12 center-align animated slideInDown">        
                  <img ng-click="makeBig()" class = "animated  img-responsive" src='./images/screen.svg' />
        </div>
      -->
    

  
<!--
      <div class = "row"></div>
      <div class = "row"></div>  <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>  <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
    </div>
  </div>-->
  <div class = "row"></div>
  <div class = "row"></div>
  <div class = "row"></div>
  <div class = "row"></div>
</div>


<script>
    $('.scrollspy').scrollSpy({
            scrollOffset: 50
          });

</script>